
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 65px; 
}

/* Large Title */
.home-title {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 60px;
  text-align: center;
}

/* Dropdown Alignment */
.form-control {
  margin-top: 30px;
}

.MuiInputLabel-root {
  top: 5px; 
}

/* Buttons Container */
.home-page-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px; /* Moves buttons lower */
  flex-wrap: wrap;
  gap: 30px;
  
}

/* Buttons */
.home-page-button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 280px;
  height: 140px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


/* Hover Effect */
.home-page-button:hover {
  transform: scale(1.08);
  opacity: 0.9;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-page-button-container {
    flex-direction: column;
  }

  .home-page-button {
    width: 90%;
    max-width: 350px;
    height: 120px;
  }
}
