
.home-page-button-container {
  display: flex;
  flex-direction: row; /* Keep buttons in a row */
  justify-content: center; 
  align-items: center; 
  height: 100vh; /* Full viewport height */
}


/* Buttons */
.home-page-button {
  background-color: #09460c; /* Green background */
  color: #ffffff; /* White text */
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
  transition: all 0.3s ease;
  margin: 0 10px; /* Small spacing between buttons */
}

